.sidebar{
    min-height: 100vh;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #f0f4f9;
    padding: 12px 8px;
}

.sidebar .top{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar .menu{
    display: block;
    cursor: pointer;
    width: 48px;
    height: 48px;
}

.sidebar .new-chat{
    display: inline-flex;
    margin-top: 50px;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border-radius: 50px;
    font-size: 14px;
    color: grey;
    cursor: pointer;
}

.sidebar .new-chat img{
    width: 48px;
    height: 48px;
}

.sidebar .recent{
    display: flex;
    flex-direction: column;
}

.sidebar .recent-title{
    margin-top: 30px;
    margin-bottom: 20px;
}

.sidebar .recent-entry{
    display: flex;
    align-items: start;
    gap: 10px;
    padding: 10px;
    color: #282828;
    border-radius: 50px;
    cursor: pointer;
}

.sidebar img{
    margin: 0;
    width: 48px;
    height: 48px;
    object-fit: contain;
}

.sidebar .recent-entry:hover{
    background-color: #e2e6eb;
}

.sidebar .bottom{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar .bottom-item{
    padding: 10px;
    cursor: pointer;
}



